<div class="grid_5 tune">
	<h3><%= tune.title %></h3>
	<p><%= tune.summary %></p>
	<p>Posted by <%= tune.authorName %></p>
	<%- tune.musicPlayerLink %>
	<a href="/<%= tune.id%>">Read more...</a>
</div>