<% for(var i=0; i<tunes.length; i++) { %>
<div class="grid_5 tune">
	<h3><%= tunes[i].title %></h3>
	<p><%= tunes[i].summary %></p>
	<p>Posted by <%= tunes[i].authorName %></p>
	<%- tunes[i].musicPlayerLink %>
	<a href="/<%= tunes[i].id%>">Read more...</a>
</div>
<% } %>